@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

body {
  background-color: #000000;
  text-align: center;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  scrollbar-color: lime;
  margin: 0px;
  padding: 0px;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  cursor: pointer;
}

.item {
  background-color: #000000;
  border-radius: 5px;
  display: inline-block;
  width: 10rem;
  align-self: stretch;
  text-align: center;
  padding: 0px 0.5rem;
  transition: all 0.2s linear;
}

.item:hover {
  /* background-color: var(--blue) */
  color: lime;
  box-shadow: 5px 5px 10px lime;
  transform: scale(1.1);
}

.emoji {
  font-size: 250%;
}
::placeholder {
  color: lime;
}
.search {
  background-color: #000000;
  width: 25rem;
  color: lime;
  height: 2rem;
  margin: 2.2rem;
  margin-right: 9rem;
  text-align: center;
  border-radius: 50px;
  border-color: lime;
  box-shadow: 3px 3px 15px lime;
  /* border: none; */
}
.copied,
.copied:hover {
  background-color: lime;
}
.found {
  color: lime;
}
.not_found {
  color: red;
}
input.search {
  /* background-color: transparent; */
  /* outline-style: dotted lime;
  border-color: lime; */
  border: 0px solid lime;
  outline-style: dotted;
  outline-color: lime;
  margin-bottom: 0.5rem;
}
main {
  display: inline;
}

hr {
  /* color: lime; */
  border: 1px solid lime;
  /* box-shadow: 5px 4px 10px lime; */
  box-shadow: 3px 3px 7px lime;
  /* outline-style: ; */
  outline-color: lime;
  width: 100%;
}
.nav {
  padding-top: 0.5rem;
  float: left;
  color: lime;
  font-size: smaller;
  margin: 0;
  display: inline;
}
